<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Template Syntax</title>
</head>
<body>
    <span>Message: {{ msg }}</span>
    <span v-once>Thông điệp này sẽ không bao giờ thay đổi: {{ msg }}</span>
    <div v-bind:id="dynamicId"></div>
    <button v-bind:disabled="isButtonDisabled">Hòn Vọng Phu</button>
    <div v-bind:id="'list-' + id"></div>
    <!-- cú pháp đầy đủ -->
    <a v-on:click="doSomething"> ... </a>

    <!-- cú pháp rút gọn: dùng kí tự @ -->
    <a @click="doSomething"> ... </a>
    <!-- cú pháp đầy đủ -->
    <a v-bind:href="url"> ... </a>

    <!-- cú pháp rút gọn: dùng dấu hai chấm -->
    <a :href="url"> ... </a>
    <form v-on:submit.prevent="onSubmit"> ... </form>
</body>
</html>